.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  word-break: auto-phrase;
  animation: fadeIn 5s;

  .logo {
    width: 290px;
    height: 100px;
    margin-bottom: 20px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
